{$BASE_DOMAIN} {
    respond "Hello, world!"
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

auth.{$BASE_DOMAIN} {
	reverse_proxy authentik:9000

	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

komodo.{$BASE_DOMAIN} {
	reverse_proxy komodo-core:9120

	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

home.{$BASE_DOMAIN} {
	reverse_proxy homeassistant:8123

	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}
